
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root{ 
    --cor-de-fundo: #dadce5;
    --verde:#000000;
    --branco:#090c5e;
    --botao-ativo:#636fcb;
    --botao-inativo: rgba(149, 149, 200, 0.5);
    --texto-fundo: rgba(8, 12, 243, 0.3);
}


body{
background-color: rgba(155, 158, 255, 0.866);
font-family: 'lobster', sans-serif;
}

h2 {
color: rgb(28, 28, 103);
}

.conteudo-principal{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
}

.titulo-principal{
      text-align: left;
      width: 100%;
      font-size: 32px;
}

.titulo-principal span {
    color: var(--verde);
}

.botao{
    font-family: 'lobster',sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;

}      

.abas-textos{
    background-color: var(--texto-fundo);
}

.botao.ativo {
    background-color: var(--botao-ativo);
    border-bottom: 10px solid var(--verde);
}

.aba-conteudo.ativo{
    display: block;
}

.aba-conteudo{
    display: none;
}

.botoes{
    display: block;
 }
 @media screen and (min-width: 768px){
     .botoes {
         display: flex;
     }
 }
 .botao:first-child {
               border-radius: 40px 0 0 0;}
 .botao:last-child {
                border-radius:0 40px 0 0;}

.contador{
    font-size: 2;
    text-align: center; 
}                